<div id="goproHeader">
    <div id="menuHeader">
        <a href="/">Home</a>
        <a href="/{{allGoproLink}}">Hero 7</a>
    </div>
</div>

<div id="wrapper">
    <h2 id="title">GoPro Hero <span>|</span> {{name}}</h2>
    <div id="container">
        <div  id="productImage">
            <img src="{{image}}">
        </div>

        <div id="info">
            <h2 id="specHead">Specs: </h2>
            <div id="specs">
                    <p>$ {{price}}</p>
                    <h3 class="subHead">Photo</h3>
                    <p>- {{photo}}</p>
                    <h3 class="subHead">Video</h3>
                    <p>- {{video}}</p>
                    <p>{{about}}</p>
            </div>
        </div>
    </div>
</div>
